@font-face {
  font-family: Gotham;
  src: url(Gotham-Thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-Book.otf);
  font-weight: 300;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-ThinItalic.otf);
  font-weight: 100;
  font-style:italic;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-BookItalic.otf);
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-MediumItalic.otf);
  font-weight: 500;
  font-style:italic;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-BoldItalic.otf);
  font-weight: 700;
  font-style:italic;
}